@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.centered{
    display: flex;
    justify-content: center;
    /* middle of screen */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #fff;
    
}

.firstColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 32px;
}

.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 85px;
    line-height: 116px;
}
.higherTitle{
    
    font-family: 'Roboto';
    font-size: 20px;
}
.higherTitle span{
    color: #F9AC39;
}
.lowerTitle{
    font-family: 'Roboto';
    font-size: 20px;
    margin-bottom: 20px;
}

.secondColumn img{
    height: 380px;
    animation: float 6s ease-in-out infinite;
}



@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* media css */

@media screen and (max-width: 768px){
    .centered,.firstColumn{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .firstColumn{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .centered{
        padding:10px;
    }
    .title{
        font-size: 40px;
        line-height: normal;
    }
    .secondColumn img{
        height: 200px;
    }
}


.quote {
    background-color: #25262b;
    border-left: 10px solid #373a40;
    padding: 0.5em 10px;
    margin-bottom: 20px;
}

.quote p {
    display: inline;
}

.quote .author {
    display: block;
    font-style: italic;
    margin: 0;
    /* margin-top: 0.5em; */
    text-align: right;
}
  